body {
height: 100vh;
margin: 0;
background: linear-gradient(360deg, #000000d6, #01c1ff96); 
}

.container {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px repeat(3, 1fr) 50px;
    margin: auto;
    height: 100vh;
    align-content: center;
}

.cell {
    font-size: 10vw;
    background: transparent;
    border-right: 5px solid; 
    border-bottom: 5px solid; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
}
.cell:hover{
    background: radial-gradient(#1f58d9a3 0, transparent 50%);
}

#\33, #\36, #\39{
    border-right: none;
}
#\37, #\38, #\39{
    border-bottom: none;
}

#prueba {
    grid-column: 1/4;
    grid-row: 5/6;
    justify-self: center;
    align-self: center;
}

#message {
    grid-column: 1/4;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    font-size: 2vw;
}

#reset {
    display: none;
}

button {
    background-color: #0a5381;
    color: whitesmoke;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 2px 7px black;
    font-size: 17px;
    padding: 6px;
}

button:hover{
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .container {
        display: grid;
        width: 95%;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
        height: 65%;
        align-content: center;
    }

    #message {
        font-size: 10vw;
    }
}